<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="img/pk-icon.png" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>pocket kitchen: <%= recipeData.meta.title %> </title>
    <!--<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i" rel="stylesheet">-->
    <link rel="stylesheet" href="/app/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="/app/css/resets.css" type="text/css">
    <link rel="stylesheet" href="/app/css/main.css?v=7" type="text/css">
   
    <!-- <script src="/app/scripts/jquery.color.js"></script> -->
   
    <!-- <script src="/app/scripts/easytimer.min.js"></script> -->

    <!-- <script src="/app/scripts/screenfull.min.js"></script> -->
 

    <!-- <script src="/app/scripts/ajax.js"></script> -->
    <!-- script to load in content will eventually go here.-->
</head>

<body>
    <div class="onboard-container obj-hidden">
        <button class="close-onboard">
            <img class="img-stretch" src="img/close-btn-white.png" alt="">
        </button>
        <div class="swiper-container onboard-swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper onboard-swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide onboard-swiper-slide">

                    <img class="onboard-card" src="img/onboarding/swipe.gif" alt="">

                    <div class="card text-card">Welcome to
                        <span class="span-bold">pocket kitchen</span>! To move between recipe steps, swipe left or right on your phone's screen.</div>
                </div>
                <div class="swiper-slide onboard-swiper-slide">

                    <img class="onboard-card" src="img/onboarding/onboard7.jpg" alt="">

                    <div class="card text-card">On Android devices, press the full-screen icon to run the app in full-screen mode. This feature is not
                        yet supported by iOS devices.</div>
                </div>
                <div class="swiper-slide onboard-swiper-slide">

                    <img class="onboard-card" src="img/onboarding/onboard1.jpg" alt="">

                    <div class="card text-card">To go back to the main page, press the menu button or swipe down anywhere on the page.</div>
                </div>
                <div class="swiper-slide onboard-swiper-slide">
                    <img class="onboard-card" src="img/onboarding/onboard2.jpg" alt="">
                    <div class="card text-card">In the bottom left corner of the screen, you can see the number of steps in the recipe, and your current
                        step.
                    </div>
                </div>
                <div class="swiper-slide onboard-swiper-slide">
                    <img class="onboard-card" src="img/onboarding/onboard4.jpg" alt="">
                    <div class="card text-card">The green bar at the bottom of the screen shows your overall progress through the recipe.</div>
                </div>
                <div class="swiper-slide onboard-swiper-slide">
                    <img class="onboard-card" src="img/onboarding/onboard3.jpg" alt="">
                    <div class="card text-card">If part of a recipe is too long to fit on your screen, this icon will appear, indicating that you can
                        scroll down to see more.</div>
                </div>

                <div class="swiper-slide onboard-swiper-slide">
                    <img class="onboard-card" src="img/onboarding/onboard5.jpg" alt="">
                    <div class="card text-card">Some recipes have built-in timers. Use the buttons on the timer to pause or restart the timer.</div>
                </div>
                <div class="swiper-slide onboard-swiper-slide">
                    <img class="onboard-card" src="img/onboarding/onboard6.jpg" alt="">
                    <div class="card text-card">While a timer is running, it will appear in the top right corner of the screen. Tap on the small timer
                        panel to return to the timer in the recipe.</div>
                </div>
                <div class="swiper-slide onboard-swiper-slide">
                    <img class="onboard-card" src="img/onboarding/onboard6.jpg" alt="">
                    <div class="card text-card">Now let's start cooking! Tap anywhere to close this tutorial. If you ever need to see the tutorial again,
                        you can access it from the menu button in the top left corner.</div>
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination onboard-swiper-pagination"></div>

        </div>

    </div>
     <!-- <div class="loading-screen">
        <h1>loading...
            <br>please wait</h1>
    </div> 
    <div class="exit-modal-container obj-hidden">
        <div class="exit-modal">
            <img src="img/close-btn-black.png" alt="" class="exit-modal-button">
            <img src="img/pocket-kitchen-logo-black-01.png" alt="">
            <button id="back-to-home">
                home
            </button>
            <button id="help-button">help</button>
            <button id="fullscreen-button">fullscreen mode
                <br>(Android only)</button>
        </div>
        <div class="exit-modal-fill"></div>

    </div>

    <div class="timer-popup">
        <div class="fake-bar"></div>
        <div class="popup-container">
            <div class="timer-container">
                <h1 class="timer-time">0</h1>
                <div class="timer-button-container">
                    <button class="timer-button timer-popup-close">TIMER FINISHED</button>

                </div>
            </div>
            <div class="card text-card">
                <p class="instructions">
                    Please click anywhere to return to the recipe.
                </p>
            </div>
        </div>
    </div> -->

    <div class="app-container">
        <div id="top-bar">
            <button id="back-button">
                <img src="img/hamburger-btn-black.png" class="img-stretch" alt="">
            </button>
            <h2 id="top-bar-title"><%= recipeData.meta.title %></h2>
            <button id="fullscreen-corner-btn">
                <img src="img/fullscreen-btn.png" class="img-stretch" alt="">
            </button>
        </div>
        <div class="main-section">
            <div class="persistent-timer-container">
                <div class="persistent-timer-row">
                    <img src="img/timer-icon.png" alt="" class="persistent-timer-icon">
                    <h4 class="persistent-timer"></h4>
                </div>
                <div class="persistent-timer-drawer">
                    <!-- <button class="persistent-timer-button persistent-timer-pause">PAUSE</button>
                    <button class="persistent-timer-button persistent-timer-reset">RESET</button> -->
                </div>

            </div>


            <div class="recipe-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">Slide 1</div>
                  <div class="swiper-slide">Slide 2</div>
                  <div class="swiper-slide">Slide 3</div>
                  ...
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
              
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
              </div>
           
        </div>
        <div id="bottom-bar">
            <div class="progress-container">
                <div id="progress-bar">

                </div>
                <div id="progress-arrow">
                    <img src="img/progress-arrow.png" alt="">
                </div>
            </div>
            <div id="bottom-bar-flex">
                <h2 class="bottom-bar-text">
                    <span id="curContainer"></span> /
                    <span id="totalContainer"></span>
                </h2>
                <h2 class="bottom-bar-text">

                </h2>
            </div>
        </div>


    </div>
    <div id="menu-panel">
        <button id="btn-close-menu">
            <img src="img/close-button.png" class="img-stretch" alt="">
        </button>
        <ul class="menu-list">

        </ul>
    </div>
    <div id="screen-overlay"></div>
    <script src="/app/scripts/recipe-ui-new.js"></script>

</body>

</html>